/* FOGLIO DI STILE */

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/* ------------------------------------------------------- */

body {
  border: 10px solid red;
}

header {
  background-color: blue;
  margin: 0 auto;
  height: 200px;
}

img {
  height: 100%;
  display: block;
  margin: 0 auto;
}

main {
  background-color: rgb(198, 189, 186);
  padding: 20px;
  border: 10px solid rgb(25, 15, 223);
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  margin-bottom: 200px;
}

.container::after {
  content: "";
  display: table;
  clear: both;
}

section {
  height: 200px;
}

.zeta {
  background-color: green;
}

.lungo {
  background-color: blue;
}

.elle {
  background-color: red;
}

.quad {
  background-color: yellow;
}

.interno {
  height: 100%;
}

.esternodestra {
  border-top: 4px solid black;
  border-right: 4px solid black;
  border-bottom: 4px solid black;
  border-left: 1px solid grey;
}

.esternoalto {
  border-top: 4px solid black;
  border-left: 4px solid black;
  border-right: 4px solid black;
  border-bottom: 1px solid grey;
}

.centroverticale {
  border-right: 4px solid black;
  border-left: 4px solid black;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  }

.centrorizzontale {
  border-right: 1px solid grey;
  border-left: 1px solid grey;
  border-top: 4px solid black;
  border-bottom: 4px solid black;

}


.altosinistra {
    border-top: 4px solid black;
    border-left: 4px solid black;
    border-bottom: 1px solid grey;
    border-right: 1px solid grey;
  }

.altodestra {
  border-top: 4px solid black;
  border-right: 4px solid black;
  border-bottom: 1px solid grey;
  border-left: 1px solid grey;

}


.bassosinistra {
  border-bottom: 4px solid black;
  border-left: 4px solid black;
  border-top: 1px solid grey;
  border-right: 1px solid grey;
}

.bassodestra {
  border-right: 4px solid black;
  border-bottom: 4px solid black;
  border-left: 1px solid grey;
  border-top: 1px solid grey;
}

.esternobasso {
  border-top: 1px solid grey;
  border-left: 4px solid black;
  border-right: 4px solid black;
  border-bottom: 4px solid black;
}

.esternosinistra {
  border-top: 4px solid black;
  border-left: 4px solid black;
  border-bottom: 4px solid black;
  border-right: 1px solid grey;
}


.debugbordosopra {
 border-top: none;
}

.debugbordodestra {
 border-right: none;
}
